@using NatureQuestWebsite.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductModel>
@{
    var currentProductSiblings = Model.RelatedProducts;
    if (currentProductSiblings.Any())
    {
        <h3 class="text-center padding-top-2x mt-2 padding-bottom-1x d-none d-md-block">
            Related Products
        </h3>

        <div class="owl-carousel d-none d-md-block"
             data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;margin&quot;: 20, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
            @foreach (var product in currentProductSiblings.Where(productSibling => productSibling.FeaturedPrice != null))
            {
                var productPage = product.ProductPage;
                var productImage = product.ProductImages.FirstOrDefault();
                var featurePrice = product.FeaturedPrice;
                var salePrice = product.SalePrice;
                //check if we have a variant image
                if (!string.IsNullOrWhiteSpace(featurePrice.ProductVariantImage?.ImageUrl))
                {
                    productImage = featurePrice.ProductVariantImage;
                }

                <div class="grid-item">
                    <div class="product-card">
                        @if (salePrice != null && salePrice.SalePercentage > 0)
                        {
                            <div class="product-badge text-danger">
                                @salePrice.SalePercentage% Off @salePrice.ProductVariant
                            </div>
                        }
                        @if (productImage != null)
                        {
                            <a class="product-thumb" href="@productPage.Url" tittle="@product.ProductTitle">
                                <img src="@productImage.ImageUrl" alt="@productImage.ImageAltText">
                            </a>
                        }

                        <h3 class="product-title">
                            <a href="@productPage.Url" tittle="@product.ProductTitle">
                                @product.ProductTitle
                            </a>
                        </h3>

                        @if (featurePrice.ProductPrice != 0)
                        {
                            if (featurePrice.SalePrice != 0)
                            {
                                <h4 class="product-price">
                                    <del>@featurePrice.ProductPrice.ToString("c")</del>@featurePrice.SalePrice.ToString("c")
                                </h4>
                            }
                            else
                            {
                                <h4 class="product-price">
                                    From @featurePrice.ProductPrice.ToString("c")
                                </h4>
                            }
                        }

                        @if (product.CanBeOrdered)
                        {
                            using (Html.BeginUmbracoForm("AddProductToCart", "Shop",
                                FormMethod.Post,
                                new { role = "form", id = "addToCartForm" }))
                            {
                                <input id="ProductPageId" name="ProductPageId" type="hidden" value="@product.ProductPageId">
                                <input id="ProductCode" name="ProductCode" type="hidden" value="@featurePrice.ProductVariantCode">
                                <input id="SelectedQuantity" name="SelectedQuantity" type="hidden" value="1">
                                <input id="SelectedPricePageId" name="SelectedPricePageId" type="hidden" value="@featurePrice.ProductPricePage.Id">
                                <div class="product-buttons">
                                    <button class="btn btn-outline-primary btn-sm AddToCartBtn">
                                        <i class="icon-bag"></i> Add to Cart
                                    </button>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    }
}