@using NatureQuestWebsite.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<OrderDetails>
@{
    if (Model.OrderPaidSuccess)
    {
        <h3 class="widget-title">
            Order placed successfully
        </h3>
        <div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x">
            <span class="alert-close" data-dismiss="alert"></span>
            <i class="icon-help"></i>&nbsp;&nbsp;
            <strong>@Model.OrderProcessedMessage</strong>
        </div>
        if (Model.OrderItems.Any())
        {
            <div class="isotope-grid cols-3 mb-2">
                <div class="gutter-sizer"></div>
                <div class="grid-sizer"></div>
                @foreach (var cartItem in Model.OrderItems)
                {
                    var cartItemPage = cartItem.ProductLinePage;
                    var cartProduct = cartItem.MainProductPage;
                    var cartItemName = $"{cartProduct.Name} - {cartItemPage.Name}";
                    var itemTotal = cartItem.Quantity * cartItem.Price;
                    <div class="grid-item">
                        <div class="product-card">
                            <a class="product-thumb" title="@cartItemName" href="@cartProduct.Url">
                                <img src="@cartItem.CartItemImage" alt="@cartItemName">
                            </a>

                            <h3 class="product-title">
                                <a class="dropdown-product-title" title="@cartItemName" href="@cartProduct.Url">
                                    @cartItemName
                                </a>
                            </h3>

                            <h4 class="product-price">
                                @cartItem.Quantity x @cartItem.Price.ToString("c") = @itemTotal.ToString("c")
                            </h4>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <h3 class="widget-title">
            Error Processing you order
        </h3>
        <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x">
            <span class="alert-close" data-dismiss="alert"></span>
            <i class="icon-ban"></i>
            &nbsp;&nbsp;<strong>@Model.OrderProcessedMessage</strong>
        </div>
    }

}
