@using NatureQuestWebsite.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductCategoriesModel>
@{
    //check if we have any categories to use
    if (Model.ProductCategories.Any())
    {
        //group the categories into groups
        var categoriesRow = Model.ProductCategories.InGroupsOf(3);
        <section class="container padding-top-3x padding-bottom-2x">
            <h3 class="text-center mb-30">Product Categories</h3>
            <div class="row">
                @foreach (var category in Model.ProductCategories)
                {
                    //get 4 random products to list
                    var r = new Random();
                    var categoryProducts = category.CategoriesProducts.OrderBy(x => r.Next()).Take(4).ToList();
                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget-featured-products">
                            <h3 class="widget-title">
                                <a href="@category.CategoryLinkUrl" title="@category.CategoryLinkTitle">
                                    @category.CategoryLinkTitle
                                </a>
                            </h3>

                            @foreach (var product in categoryProducts)
                            {
                                var productPage = product.ProductPage;
                                var productFirstImage = product.ProductImages.FirstOrDefault();
                                //if we haven't got a featured price, then just get the 1st normal price
                                var productFeaturedPrice = product.ProductPrices.FirstOrDefault(price => price.IsFeaturedPrice) ??
                                                           product.ProductPrices.FirstOrDefault();
                                if (!string.IsNullOrWhiteSpace(productFirstImage?.ImageUrl))
                                {
                                    <div class="entry">
                                        <div class="entry-thumb">
                                            <a href="@productPage.Url" title="@product.ProductTitle">
                                                <img src="@productFirstImage.ImageUrl" alt="@productFirstImage.ImageAltText">
                                            </a>
                                        </div>
                                        <div class="entry-content">
                                            <h4 class="entry-title">
                                                <a href="@productPage.Url" title="@product.ProductTitle">
                                                    @product.ProductTitle
                                                </a>
                                            </h4>
                                            @if (productFeaturedPrice != null)
                                            {
                                                if (productFeaturedPrice.SalePrice > 0)
                                                {
                                                    <span class="entry-meta">
                                                        <del>$@productFeaturedPrice.ProductPrice</del>
                                                        $@productFeaturedPrice.SalePrice
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="entry-meta">
                                                        $@productFeaturedPrice.ProductPrice
                                                    </span>
                                                }
                                            }

                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </section>
    }
}
