@using NatureQuestWebsite.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<StandardPageViewModel>
@{
    Layout = "siteMaster.cshtml";
    var currentModel = Model;

    @Html.Partial("/Views/Partials/PageContent/PageHeader.cshtml", Model)

    <div class="container padding-bottom-1x mb-1">
        <div class="row">

            <div class="col-lg-8">
                @if (!string.IsNullOrWhiteSpace(currentModel.PageHeaderImage))
                {
                    <div class="owl-carousel padding-bottom-1x" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;loop&quot;: false }">
                        <figure>
                            <img src="@currentModel.PageHeaderImage" alt="@currentModel.PageTitle">
                            <figcaption class="text-white">
                                @currentModel.PageTitle
                            </figcaption>
                        </figure>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(currentModel.PageContentText))
                {
                    @Html.Raw(currentModel.PageContentText)
                }

                @*get the shopping cart*@
                @Html.Action("CheckStripePaymentResult", "Shop")
            </div>

            @Html.Partial("/Views/Partials/PageContent/PageSideBar.cshtml", Model)

        </div>

        @*display the featured products*@
        @Html.Action("GetFeatureProductsSlider", "PageContent")
    </div>
}