@using NatureQuestWebsite.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<StandardPageViewModel>
@{
    Layout = "siteMaster.cshtml";
    var currentModel = Model;

    @Html.Partial("/Views/Partials/PageContent/PageHeader.cshtml", Model)

    <div class="container padding-bottom-1x mb-1">
        <div class="row">

            <div class="col-lg-9">
                @if (!string.IsNullOrWhiteSpace(currentModel.PageHeaderImage))
                {
                    <div class="owl-carousel padding-bottom-1x" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;loop&quot;: false }">
                        <figure>
                            <img src="@currentModel.PageHeaderImage" alt="@currentModel.PageTitle">
                            <figcaption class="text-white">
                                @currentModel.PageTitle
                            </figcaption>
                        </figure>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(currentModel.PageContentText))
                {
                    @Html.Raw(currentModel.PageContentText)
                }

                @*get the shopping cart*@
                @Html.Action("CheckStripePaymentResult", "Shop")
            </div>

            @Html.Partial("/Views/Partials/PageContent/PageSideBar.cshtml", Model)

        </div>

        @*display the featured products*@
        @Html.Action("GetFeatureProductsSlider", "PageContent")
    </div>
}

@section footerScripts{
    @* Process the result updating the details shipping *@
    @if (TempData.ContainsKey("paymentResult"))
    {
        var paymentResult = (AjaxCartResult) TempData["paymentResult"];
        var detailsResultMessage = paymentResult.ResultMessage;
        if (paymentResult.ResultSuccess)
        {
            <script>
                iziToast.success({
                    title: "Success",
                    message: "@detailsResultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
        else
        {
            <script>
                iziToast.error({
                    title: "Error",
                    message: "@detailsResultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
    }
}