@using NatureQuestWebsite.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<StandardPageViewModel>
@{
    Layout = "siteMaster.cshtml";
    var currentModel = Model;

    @Html.Partial("/Views/Partials/PageContent/PageHeader.cshtml", Model)

    <div class="container padding-bottom-1x mb-1">
        <div class="row">
            <div class="col-lg-12">
                @if (!string.IsNullOrWhiteSpace(currentModel.PageContentText))
                {
                    @Html.Raw(currentModel.PageContentText)
                }
            </div>
        </div>

        @*get the shopping cart*@
        @Html.Action("GetCheckoutView", "Shop")

    </div>

    @*display the featured products*@
    @Html.Action("GetFeatureProductsSlider", "PageContent")
}

@section footerScripts{
    @* Process the result updating the details shipping *@
    @if (TempData.ContainsKey("shippingDetailsResult"))
    {
        var shippingDetailsResult = (AjaxCartResult)TempData["shippingDetailsResult"];
        var detailsResultMessage = shippingDetailsResult.ResultMessage;
        if (shippingDetailsResult.ResultSuccess)
        {
            <script>
                iziToast.success({
                    title: "Success",
                    message: "@detailsResultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
        else
        {
            <script>
                iziToast.error({
                    title: "Error",
                    message: "@detailsResultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
    }

    @if (TempData.ContainsKey("shippingResult"))
    {
        @* Process the result updating the shipping *@
        var shippingResult = (AjaxCartResult)TempData["shippingResult"];
        var resultMessage = shippingResult.ResultMessage;
        if (shippingResult.ResultSuccess)
        {
            <script>
                iziToast.success({
                    title: "Success",
                    message: "@resultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
        else
        {
            <script>
                iziToast.error({
                    title: "Error",
                    message: "@resultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
    }

    @*get the stripe checkout script*@
    @Html.Action("GetStripeCheckoutScript", "Shop")

    @*get the pay pal checkout script*@
    @*@Html.Action("GetPayPalCheckoutScript", "Shop")*@

}
