@using NatureQuestWebsite.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<StandardPageViewModel>
@{
    Layout = "siteMaster.cshtml";
    var currentModel = Model;
    var registrationPage = Model.SiteMenu.RegistrationLoginPage;

    @Html.Partial("/Views/Partials/PageContent/PageHeader.cshtml", Model)

    <div class="container padding-bottom-1x mb-1">
        <div class="row">
            <div class="col-lg-12">
                @if (!string.IsNullOrWhiteSpace(currentModel.PageContentText))
                {
                    @Html.Raw(currentModel.PageContentText)
                }

                @*check if the user is logged in and display the login message*@
                @if (!Model.MemberCurrentLoginStatus.IsLoggedIn && registrationPage?.Id > 0)
                {
                    <p>
                        For quicker and easier ordering
                        <a href="@registrationPage.Url" title="Registration and Login">login/register</a> for a user account from the login page in the main menu.
                        From your customer account you can have an automatically saved shopping cart, track the progress of your orders and update your
                        saved shipping detail.
                    </p>
                }

            </div>
        </div>

        @*get the shopping cart*@
        @Html.Action("GetShoppingCart", "Shop")

    </div>

    @*display the featured products*@
    @Html.Action("GetFeatureProductsSlider", "PageContent")
}

@section footerScripts{

    @* Process the result of clearing the cart items *@
    @if (TempData.ContainsKey("clearCartResult"))
    {
        var clearCartResult = (AjaxCartResult)TempData["clearCartResult"];
        var resultMessage = clearCartResult.ResultMessage;
        if (clearCartResult.ResultSuccess)
        {
            <script>
                iziToast.success({
                    title: "Success",
                    message: "@resultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
        else
        {
            <script>
                iziToast.error({
                    title: "Error",
                    message: "@resultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
    }

    @* Process the result of removing a cart item *@
    @if (TempData.ContainsKey("removeCartItemResult"))
    {
        var removeCartItemResult = (AjaxCartResult)TempData["removeCartItemResult"];
        var resultMessage = removeCartItemResult.ResultMessage;
        if (removeCartItemResult.ResultSuccess)
        {
            <script>
                iziToast.success({
                    title: "Success",
                    message: "@resultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
        else
        {
            <script>
                iziToast.error({
                    title: "Error",
                    message: "@resultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
    }

    @* Process the result of removing a cart item *@
    @if (TempData.ContainsKey("updateCartItemResult"))
    {
        var updateCartItemResult = (AjaxCartResult)TempData["updateCartItemResult"];
        var resultMessage = updateCartItemResult.ResultMessage;
        if (updateCartItemResult.ResultSuccess)
        {
            <script>
                iziToast.success({
                    title: "Success",
                    message: "@resultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
        else
        {
            <script>
                iziToast.error({
                    title: "Error",
                    message: "@resultMessage",
                    timeout: 10000,
                    position: "topRight"
                });
            </script>
        }
    }
}