@using ClientDependency.Core.Mvc
@using NatureQuestWebsite.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<StandardPageViewModel>
@{
    var currentModel = Model;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @Html.Partial("/Views/Partials/Global/MetaContent.cshtml", currentModel)

    <link rel="stylesheet" media="screen" href="/Css/vendor.min.css">
    <link rel="stylesheet" media="screen" href="/Css/styles.css">
    <link rel="stylesheet" media="screen" href="/Css/iziToast.css">

    <script src="/Scripts/modernizr.min.js"></script>

    @RenderSection("headerCss", false)

    <meta name="google-site-verification" content="gm7_QAcEkfno8tTtZ9sWD0H6QGWnj6xYLeno4m2ddfY" />
</head>

<body>

    @Html.Partial("/Views/Partials/PageContent/MobileSideBar.cshtml", Model)

    @Html.Partial("/Views/Partials/Global/SiteMenu.cshtml", currentModel)

    <div class="offcanvas-wrapper">

        @RenderBody()

        @Html.Action("GetStockistSliders", "PageContent")

        @Html.Partial("/Views/Partials/Global/SiteFooter.cshtml", currentModel)

    </div>

    <a class="scroll-to-top-btn" href="#">
        <i class="icon-arrow-up"></i>
    </a>

    <div class="site-backdrop"></div>

    <script src="/Scripts/vendor.min.js"></script>
    <script src="/Scripts/scripts.min.js"></script>
    <script src="/Scripts/iziToast.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="/Scripts/custom.js"></script>

    @RenderSection("footerScripts", false)

    @if (TempData.ContainsKey("cartResult"))
    {
        var cartResult = (AjaxCartResult)TempData["cartResult"];
        var resultMessage = cartResult.ResultMessage;
        if (cartResult.ResultSuccess)
        {
            <script>
            iziToast.success({
                title: "Success",
                message: "@resultMessage",
                timeout: 10000,
                position: "topRight"
            });
            </script>
        }
        else
        {
            <script>
            iziToast.error({
                title: "Error",
                message: "@resultMessage",
                timeout: 10000,
                position: "topRight"
            });
            </script>
        }
    }


    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js");
        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js");
        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js");
    }

    @Html.RenderJsHere()

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145517845-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145517845-1');
    </script>

    <!--Goggle Re captcha-->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

</body>
</html>